.root {
    -text-color: #696969;
    -hover-text-color: #181818;

    -background-color: white;
    -hover-background-color: #D4D7DC;

    -fx-background-color: -background-color;
}

.AnchorPane-main {
    -fx-background-color: #F5F5F5;
}

/*===================================BUTTON=====================================*/

.button {
    -fx-content-display: top;
    -fx-font-size: 15;
    -fx-background-color: -background-color;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: -hover-background-color;
    -fx-cursor: hand;
}

.button:hover .SVGPath-mainPane {
    -fx-fill: -hover-text-color;
}

.button.active {
    -fx-background-color: -hover-background-color;
}

.button.active .SVGPath-mainPane {
    -fx-fill: -hover-text-color;
}

.button-inactive {
    -fx-background-color: -background-color !important;
    -fx-cursor: default !important;
}


/*===================================SVGPath=====================================*/

.SVGPath-mainPane {
    -fx-fill: -text-color;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.SVGPath-logo {
        -fx-fill: -hover-text-color;
        -fx-scale-x: 1;
        -fx-scale-y: 1;
}
