.root {
    -text-color: #696969;
    -hover-text-color: #181818;

    -background-color: white;
    -hover-background-color: #D4D7DC;
}

/*================================CHOICE-BOX===========================*/

.choice-box {
    -fx-background-color: white;
    -fx-mark-color: black;
    -fx-font-size: 16;
}

/*================================BUTTON===========================*/

.button-translate {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: -text-color;
    -fx-content-display: right !important;
    -fx-background-color: -background-color;
}

.button-translate:hover {
    -fx-text-fill: -hover-text-color;
    -fx-background-color: -background-color !important;
}

.button-translate:hover .SVGPath-translate{
    -fx-fill: -hover-text-color;
}

.button-translate:hover .SVGPath-speech{
    -fx-fill: -hover-text-color;
}

.button-swap {
    -fx-background-color: -background-color;
    -fx-background-radius: 50;
}

.button-swap:hover {
    -fx-background-color: -hover-background-color;
}

.button-swap:hover .SVGPath-swap{
    -fx-fill: -hover-text-color;
}

.button-swap.disable {
    -fx-background-color: -background-color !important;
}

.button-swap.disable .SVGPath-swap{
    -fx-fill: -text-color !important;
}

/*===================================SVG-PATH=====================================*/

.SVGPath-translate{
    -fx-fill: -text-color;
}

.SVGPath-speech{
    -fx-fill: -text-color;
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}

.SVGPath-swap {
    -fx-fill: -text-color;
}

/*================================TEXT-AREA===========================*/

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
    -fx-background-color: transparent, white, transparent, white;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #A9A9A9;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.Hbox-translate {
    -fx-background-color: -background-color;
}